
/* NAVBAR CSS */
.navbar-custom{
    background-color: #76D7C4;
}

.logo {
    width: 100%;
    height:auto;
}

.opciones:hover{
    color: gray;
    text-decoration: none;
}

.opciones{
    display: block;
    padding: .5rem 1rem;
    color: white;
    
}
.listaU{
    text-align:center;
}

.barrita{
    display: inline-block;
    color: white;
    padding: .5rem 1rem;
}

.desaparece{

}


@media only screen and (max-width: 700px) {
    .listaU{
        width: 100%;
    }
    .desaparece{
        display: none;
    }
}
/* NAVBAR CSS */

