
/* NAVBAR CSS */
.navbar-custom{
    background-color: #76D7C4;
}

.logo {
    width: 40%;
}

.caquita {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: red;
}

body {
    color: red;
}

@media only screen and (max-width: 800px) {
    .logo {
        width: auto;
    }
    body {
        color: red;
    }
}
/* NAVBAR CSS */

